<footer class="container" >
 <div id="copyright">
  <p class="text-center">Copyright @2017 Job Listing
    <br>Design by
    <a href="http://bigkun.logdown.com" target=_new>BigKun</a>
  </p>
</div>
</footer>
